body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  /* The image used */
  background-image: url("space-background.jpg");
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
}
#gameCanvas {
  background-color: black;
  display: flex;
  border: none;
  position: absolute;
  top: 112px;
  left: 262px;
  height: 450px;
  width: auto;
}

#startNewGame {
  background-color: rgb(43, 43, 43);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 80px;
  left: 383px;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  width: 200px;
  height: 60px;
}

.container {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  gap: 10px;
}

.menu {
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  background-color: rgb(43, 43, 43);
  border: 1px solid rgb(43, 43, 43);
  border-radius: 3px;
  position: absolute;
  height: 400px;
  width: 150px;
  top: 160px;
  left: 110px;
}

.menu button {
  background-color: black;
  color: white;
  border: 1px solid rgb(43, 43, 43);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.grid {
  grid-column: 2;
  grid-row: 2;
  border-radius: 10px;
}

.top-section {
  display: flex;
  position: absolute;
  top: -150px;
  left: 0px;
  height: 150px;
  width: 968px;
  background-color: black;
  border: 1px solid rgb(43, 43, 43);
}
.right-section {
  z-index: 1;
  height: 400px;
  width: 350px;
  display: flex;
  position: absolute;
  top: 0px;
  left: 618px;
  background-color: black;
  border: 1px solid rgb(43, 43, 43);
  border-radius: 3px;
}
.bottom-section {
  background-color: black;
  border-radius: 10px;
  height: 150px;
  width: 968px;
  display: flex;
  position: absolute;
  top: 400px;
  left: 0px;
  background-color: black;
  border: 1px solid rgb(43, 43, 43);
}

.button:hover {
  background-color: #555;
}

/* ---------------Section Buttons---------------*/
.attacksection {
  display: flex;
  position: absolute;
  color: white;
  cursor: pointer;
  top: 520px;
  left: 735px;
}
.healthsection {
  display: flex;
  position: absolute;
  color: white;
  cursor: pointer;
  top: 520px;
  left: 830px;
}
.utilitysection {
  display: flex;
  position: absolute;
  color: white;
  cursor: pointer;
  top: 520px;
  left: 925px;
}

/*---------------------------------Upgrade Buttons------------------------------------*/
button {
  z-index: 500;
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.button-img {
  z-index: 100;
  width: 140px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  position: relative;
  top: 0%;
  left: 0%;
}

.Aub-t {
  display: block;
  z-index: 900;
  position: relative;
  top: -55px;
  left: 5px;
  color: white; /* Adjust text color */
  font-size: 12px; /* Adjust text size */
  font-family: Arial, sans-serif; /* Adjust font family */
  text-align: left;
}
.Hub-t {
  display: none;
  z-index: 900;
  position: relative;
  top: -55px;
  left: 5px;
  color: white; /* Adjust text color */
  font-size: 12px; /* Adjust text size */
  font-family: Arial, sans-serif; /* Adjust font family */
  text-align: left;
}
.Uub-t {
  display: none;
  z-index: 900;
  position: relative;
  top: -55px;
  left: 5px;
  color: white; /* Adjust text color */
  font-size: 12px; /* Adjust text size */
  font-family: Arial, sans-serif; /* Adjust font family */
  text-align: left;
}
.Aub {
  display: block;
}
.Hub {
  display: none;
}
.Uub {
  display: none;
}

.ub1 {
  position: absolute;
  top: 170px;
  left: 730px;
}
.ub2 {
  position: absolute;
  top: 170px;
  left: 875px;
}
.ub3 {
  position: absolute;
  top: 240px;
  left: 730px;
}
.ub4 {
  position: absolute;
  top: 240px;
  left: 875px;
}
.ub5 {
  position: absolute;
  top: 310px;
  left: 730px;
}
.ub6 {
  position: absolute;
  top: 310px;
  left: 875px;
}
.ub7 {
  position: absolute;
  top: 380px;
  left: 730px;
}
.ub8 {
  position: absolute;
  top: 380px;
  left: 875px;
}
